@tailwind base;
@tailwind components;
@tailwind utilities;

.pngborder {
  filter: drop-shadow(0px -2px 0 white) 
        drop-shadow(-2px 0px 0 white)
        drop-shadow(0px 2px 0 white) 
         drop-shadow(2px 0px 0 white);
}

.frosty {
  background-color: rgba(233, 233, 233, 0.7);
  backdrop-filter: saturate(200%) blur(15px);
}

.frosty-primary {
  background-color: rgba(var(--primary), 0.7);
  backdrop-filter: saturate(200%) blur(15px);
}